Babel==2.12.1
cryptography==3.3.2
Flask==2.2.3
Flask-Babel==1.0.0
fuzzywuzzy==0.18.0
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.2
PyJWT==1.7.1
python-Levenshtein==0.12.0
rich==11.1.0
waitress==1.4.3
websocket-client==0.57.0
Werkzeug==2.2.3