<!-- Navbar -->
<nav class="navbar navbar-expand-lg" data="{{ variables['color'] }}">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle d-inline">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{ _('{name}
        Dashboard').format(name=variables['bot']['name'])}}</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="photo">
              <img src="{{ session.get('avatar') or variables['bot']['avatar'] }}" alt="Profile Photo">
            </div>
            {% if session.get("id") %}
            <b class="caret d-none d-lg-block d-xl-block"></b>
            <p class="d-lg-none">
              {{ _('Profile') }}
            </p>
            {% endif %}
          </a>
          {% if session.get("id") %}
          <ul class="dropdown-menu dropdown-navbar">
            <li class="nav-link"><span class="nav-item dropdown-item">{{ session.get("username") }}</span></li>
            <li class="dropdown-divider"></li>
            <li class="nav-link"><a href="{{ url_for('base_blueprint.logout') }}" class="nav-item dropdown-item">{{
                _('Log out') }}</a></li>
          </ul>
          {% endif %}
        </li>
        <li class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Navbar -->