<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text logo-mini clickable dontcolor" target="_blank">
        <i class="tim-icons icon-atom"></i>
      </a>
      <a class="simple-text logo-normal clickable dontcolor" target="_blank">
        {{ _('Dashboard') }}
      </a>
    </div>

    <ul class="nav">
      {% for item in variables['sidebar'] %}
      <li class="{{ 'active' if item['active'] else '' }}">
        <a href="{{ item['route'] }}" {{ 'target="blank"' if item['is_http'] }}>
          <i class="tim-icons {{ item['icon'] }}"></i>
          <p>{{ item['name'] }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="logo no-logo-line" style="position: absolute; bottom: 0">
      <a class="simple-text logo-mini clickable dontcolor" target="_blank">
        <i class="tim-icons icon-button-power"></i>
      </a>
      <a class="simple-text logo-normal clickable dontcolor" target="_blank">
        {{ _("{connection}").format(connection="Connected" if variables["connected"] else "Disconnected") }}
      </a>
    </div>
  </div>
</div>