name: Tests
on:
  pull_request:
  push:
  repository_dispatch:
    types:
      - dispatched_test

env:
  ref: ${{ github.event.client_payload.ref || '' }}

jobs:
  tox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version:
          - "3.8"
        tox_env:
          - py
          - style
          - docs
        include:
          - tox_env: py
            friendly_name: Tests
          - tox_env: style
            friendly_name: Style
          - tox_env: docs
            friendly_name: Docs
      fail-fast: false
    name: Tox - ${{ matrix.friendly_name }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ env.ref }}
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Tox test
        env:
          TOXENV: ${{ matrix.tox_env }}
        run: tox